body{
    background:linear-gradient(to top,rgb(194, 50, 50),rgb(186, 34, 34));
}

.header-logo{
    font-family:'Brush Script MT', cursive;
}
.name{
    font-size: 7em;
              font-family:'Brush Script MT', cursive;
              color:white;
    }

#nav{
    display: flex;
    justify-content: right;
    background-color: black;
    font-size: 2em;   
}

.nav{
    display: flex;
    padding-left: 0.6em;
    padding-right: 0.6em;
}

button:hover{
    border-color: white;
}

#mor{
    font-size: 2em;
    border-radius: 30px;
   width: 20%;
   margin-bottom: 30px;
   background-color: rgb(232, 23, 23);
   border-width: 3px;
   border-color: rgb(232, 23, 23);
   color: white;
}

